.molecule-section-title-center {
    text-align: center;
}

.molecule-navigation--center {
    display: flex;
    width: 100%;
}

.molecule-navigation--item {
    display: inline;
    margin-right: 5em;
}

.molecule-navigation__list {
    list-style-type: none;
    display: inline;
    margin: 2em 5;
}

img.align-left {
    float: left;
    margin-right: 10px;
    width: 250px;
    margin-bottom: 10px;

}

img.align-right {
    float: right;
    margin-left: 10px;
    width: 250px;

}
