.organism-header {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
    align-items: center;
    padding: 50px 0;
    font-size: 10em

}

.organism-header__content {
    display: flex;
    align-items: center;
    text-align: center;

}

.organism-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

.organism-footer__text {
    padding: 1px;
}